modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
ELEVENLABS_VOICE_ID = "ChO6kqkVouUn0s7HMunx"
TWILIO_PAY_CONNECTOR = "Stripe_Connector"
CHATBOT_API_TOKEN = "56ca41b8113055e1a9f4548bfa406a4bd37b073391e136c15a705a9e4a425b8a"
ELEVENLABS_API_KEY = "sk_e5808b589f4fbfec7c9d919dc81674f2e4928431e03b7542"
TWILIO_ACCOUNT_SID = "ACdf79fb1a9d0355a1110b77efb70c7866"
TWILIO_AUTH_TOKEN = "73058d254b883e957aa051ccf81dd5ee"
STRIPE_SECRET_KEY = "sk_test_51TFA4bRzM4QldCg3OFpR7j34C7Xermno5Dv7JS5mokhtQhtr2h1w8SRiOV3fJgRxuADEMzbVX8BUYE1PrfrPi9i000lr6XOcwo"
PORT = "5000"
ENABLE_MAILBOX = "true"
